<div class="wrap">
<div class="title">
    <h1>Cadastro de usuários</h1>
</div>
    <form>
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input id="nome" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>CPF</mat-label>
            <input id="cpf" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Data de nascimento</mat-label>
            <input id="dataNascimento" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input id="email" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>CEP</mat-label>
            <input id="cep" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Rua</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Número</mat-label>
            <input type="number" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Cidade</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>UF</mat-label>
            <input id="cep" matInput>
        </mat-form-field>
        <button mat-flat-button color="primary">Salvar cadastro</button>

    </form>
</div>

